{% extends 'base.html' %}

{% load static %}

{% block title %}Detalles del Ratero{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}

<div class="text-center">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            {% for ratero in delincuentes %}
            <div class="cell small-12 medium-6 large-7">
                <div class="card border-radius">
                    <div class="card-divider tamanio-fuente-chica">
                        <h5><strong>Detalles del delincuente</strong></h5>
                    </div>
                    <div class="card-section">
                        <img src="{{ ratero.avatar.url }}" alt="{{ ratero.nombre_delincuente }}">
                        <p><strong>Nombre: </strong> {{ ratero.nombre_delincuente }}</p>
                        <p><strong>En proceso: </strong> {{ ratero.proceso }}</p>
                        <div class="callout secondary">
                            <h3>Características del delincuente</h3>
                            <p>{{ratero.descripcion_delincuente}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No hay delincuentes registrados en esta zona.</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
